/*Geral: */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #333;
}

/*Container do titulo: */
#header-container{
    text-align: center;
    background-color: #222222;
    padding: 30px;
    margin-bottom: 10px;
}
#header-container h1{
    color: white;
}

/*Container das imagens: */
#container{
    width: 70vw;
    margin: 0 auto;
}
.image-container{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #444;
}
.image-container img{
    display: block;
    margin: 2rem auto 1rem;
    width: 1000px;
    height: 600px;
}

.image-container p{
    text-align: center;
    font-weight: bold;
    color: white;
}